@import "var";
@import "mixin";
@import "base";
@import "button";
@import "carousel";

/**
 * TOP Page
 */

/* intro */

.content {
    &--intro {
        margin: 0 auto;
        text-align: center;
    }
}
.intro__form {
    padding: 32px 0;
}
@media screen and (min-width: 768px) {
    padding: 48px 0;
}
.intro-form {
    &__text {
        font-size: 18px;
        font-weight: bold;
    }
}

/* photo  */

.intro__photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.intro-photo {
    &__item {
        width: 33.33%;
    }
    &__figure {
        position: relative;
        height: 100%;
        box-sizing: border-box;
    }
    &__caption {
        font-weight: bold;
        color: white;
        z-index: 2;
        position: absolute;
        padding: 8px 14px;
    }
    &__img {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .intro__photo {
        display: flex;
        margin-bottom: 64px;
    }
    .intro-photo {
        &__item {
            border-left: 1px solid white;
            background: gray;
            height: 120px;
            flex: 1;
            text-align: left;

            &:first-child {
                border-left: none;
            }
        }
        &__figure {
            position: relative;
            height: 100%;
            box-sizing: border-box;
        }
        &__caption {
            font-weight: bold;
            color: white;
            z-index: 2;
            position: relative;
        }
        &__img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

/* main, sub */

.index .sub-section__header,
.index .main-section__header {
    font-size: 21px;
    font-weight: bold;
    display: flex;
    margin-bottom: 32px;
    &:before {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #f45b69;
        background-image: url("../asset/images/icon-musical-note.svg");
        background-position: center center;
        background-size: auto;
        margin-right: 16px;
        background-repeat: no-repeat;
    }
}
.index .main-section__button {
    margin: 32px auto 64px;
}
.index .sub-section__header {
    &:before {
        background-color: #5A0001;
    }
}
.index.content-body {
    padding: 32px 16px;
}
@media screen and (min-width: 768px) {
    .index.content-body {
        padding: 64px 0 96px;
        display: flex;
        justify-content: space-between;
    }
    .index .sub-section {
        margin-left: 72px;
        width: 200px;
    }
}

/* info */

.info {
    margin-bottom: 32px;
    &__link {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        color: var(--black-color);
        padding: 4px 0;
        transition: .3s ease-out all;
        &:hover {
            color: rgba(34, 24, 28, .66);
            background-color: rgba(246, 232, 234, 1);
            text-decoration: none;
        }
    }
    &__time {
        font-size: 12px;
        color: #8f8a8c;
        line-height: 24px;
        width: 64px;
        margin-right: 16px;
    }
    &__category {
        width: 96px;
        height: 24px;
        background-color: #f45b69;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 24px;
        margin-right: 16px;
    }
    &__text {
        margin-top: 16px;
        width: 100%;
    }
    &-text {
        &__head {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            line-height: 24px;
        }
        &__p {
            font-size: 14px;
        }
    }
}
@media screen and (min-width: 768px) {
    .info {
        margin-bottom: 24px;
        &__link {
            justify-content: space-between;
        }
        &__text {
            margin-top: 0;
            flex: 1;
            width: auto;
        }
    }
}

/* banner */

.banner-list {
    &__item {
        margin-bottom: 24px;
    }
    &__image {
        width: 100%;
    }
    &__link {
        transition: .3s ease-out all;
    }
    &__link:hover {
        opacity: .8;
    }
}
@media screen and (min-width: 768px) {
    .banner-list {
        &__image {
            width: 200px;
        }
    }
}

/* carousel */
.slide {
    width: 100%;
    display: flex;
    background-color: gray;
    height: 33vh;
}
@media screen and (min-width: 768px) {
    .slide {
        height: 360px;
    }
}

/**
 * OTHER Page
 */

/* main,sub */
.page .main-section {
    padding: 16px;
    border-bottom: 1px solid #EFEFEF;
    a {
        color: #5A0001;
        text-decoration: underline;
        &:hover {
            color: rgba(90, 0 , 1 , .66);
        }
    }
}
@media screen and (min-width: 768px) {
    .page {
        display: flex;
        justify-content: space-between;
        & .main-section {
            width: 832px;
            padding: 0;
            border-bottom: none;
        }
        & .sub-section {
            width: 200px;
            border-left: 1px solid #EFEFEF;
            padding-left: 39px;
        }
    }
}

/*breadcrumb*/

.breadcrumb {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    &__link {
        font-size: 14px;
    }
    &__item:after {
        content: '/';
        margin:0 10px;
        color: #22181C;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .breadcrumb {
        height: 56px;
    }
}


/*article*/


.page {
    & .main-section__header {
        margin-bottom: 24px;
        & .info__category {
            display: inline-flex;
        }
    }

    & .main-head {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 12px;
        padding-top: 24px;
    }
    & .main-section__body {
        padding-bottom: 32px;
        & img {
            width: 100%;
        }
        & p,
        & li {
            font-size: 16px;
            margin-bottom: 1rem;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 768px) {
    .page {
        & .main-section__header {
            height: 136px;
            border-bottom: 1px solid #efefef;
            margin-bottom: 32px;
        }
        & .main-section__body {
            padding-bottom: 64px;
        }
    }
}

/*sub section*/


.small-section {
    padding: 16px;
    &__header {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        height: 48px;
        &:before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #5A0001;
            background-image: url("../asset/images/icon-musical-note.svg");
            background-position: center center;
            background-size: auto;
            margin-right: 16px;
            background-repeat: no-repeat;
        }

    }
}

@media screen and (min-width: 768px) {
    .small-section {
        padding: 16px 0;
    }
}

/*category list*/
.category-list {
    &__item {
        border-bottom: 1px solid #efefef;
    }
    &__link {
        display: flex;
        height: 40px;
        color: var(--black-color);
        align-items: center;
        font-size: 14px;
        transition: .2s all ease-out;
        justify-content: space-between;
        &:hover {
            background-color: #efefef;
        }
        &:after {
            background: url("../asset/images/icon_arrow.svg") no-repeat center center;
            content : "";
            display: block;
            width: 16px;
            height: 16px;
        }
    }
}
